@model CrmFirmaYetkilisiModel
@{
    var varsayılanGridSayfaBüyüklüğü = EngineContext.Current.Resolve<Core.Domain.Genel.AdminAyarları>().VarsayılanGridSayfaBüyüklüğü;
    var gridSayfaBüyüklüğü = EngineContext.Current.Resolve<Core.Domain.Genel.AdminAyarları>().GridSayfaBüyüklükleri;

    ViewBag.Title = "Ekle";
    Html.AktifMenuÖğesiSistemAdıBelirle("FirmaYetkilisiEkle");
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="content">
    <div class="form-horizontal">
        <div id="kongre-duzenle" class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-gorusme", "Görüşme Geçmişi", true)
                @Html.RenderBootstrapTabHeader("tab-firma", "Firma Görevleri")
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-gorusme", @TabGorusme(), true)
                @Html.RenderBootstrapTabContent("tab-firma", @TabFirma())
            </div>
        </div>
        @helper TabGorusme()
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="gorusme-grid"></div>
                        <script>
                    $(document).ready(function () {
                        gorusmeHesapla();
                    });
                    function gorusmeHesapla() {
                        var el = $("#gorusme-grid")[0];
                        var ke = document.getElementById("sponEkle");
                        //var kd = document.getElementById("kontenjanDuzenle");
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: "@Html.Raw(Url.Action("CrmGorusmeListele", "Crm"))",
                            data: { "kisiId": @Model.Id },
                            success: function (data) {
                                if (data.length > 0) {
                                    var text = '<table class="table table-bordered table-hover table-striped" style="font-size: 14px;"><tbody>';
                                    text = text + '<tr><th>Tarih</th><th>Görüşme Şekli</th><th>Görüşen</th><th>Görüntüle</th><th>Düzenle</th>';
                                    $.each(data, function (id, option) {
                                        if (id != "Id" && id != "CustomProperties") {
                                            var date = new Date(parseInt(data[id].GorusmeTarihi.substr(6))).toLocaleDateString();
                                            var gs = data[id].GorusmeSekli;
                                            var gorusmeseki = gs == 1 ? "Telefon" : (gs == 2 ? "Email" : "Yüz Yüze");
                                            text = text + '<tr><td>' + date + '</td><td>' + gorusmeseki + '</td><td>' + data[id].GorusenAdı + '</td><td><a href="#">Görüntüle</a></td><td><a href="../CrmGorusmeDüzenle?kayıtId=' + data[id].Id + '&&kisiId=@Model.Id">Düzenle</a></td></tr>'
                                        }
                                    });
                                    text = text + "</tbody></table>";
                                    el.innerHTML = text;
                                    el.style.display = "block";
                                }
                                else {
                                    el.style.display = "none";
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Görüşmeler alınırken hata oluştu.');
                            }
                        });
                    }
                        </script>
                    </div>
                    <div class="panel-footer">
                        <button id="kursEkle" type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("CrmGorusmeEkle", new { kisiId = Model.Id })'">
                            Görüşme Ekle
                        </button>
                    </div>
                </div>
            </div>
        }
        @helper TabFirma()
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="kurum-grid"></div>
                        <script>
                    $(document).ready(function () {
                        kurumHesapla();
                    });
                            function kurumHesapla() {
                        var el = $("#kurum-grid")[0];
                        var ke = document.getElementById("sponEkle");
                        //var kd = document.getElementById("kontenjanDuzenle");
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: "@Html.Raw(Url.Action("CrmFirmaListele", "Crm"))",
                            data: { "kisiId": @Model.Id },
                            success: function (data) {
                                if (data.length > 0) {
                                    var text = '<table class="table table-bordered table-hover table-striped" style="font-size: 14px;"><tbody>';
                                    text = text + '<tr><th>Kurum</th><th>Görev</th><th>Başlangıç Tarihi</th><th>Bitiş Tarihi</th><th>Görüntüle</th><th>Düzenle</th>';
                                    $.each(data, function (id, option) {
                                        if (id != "Id" && id != "CustomProperties") {
                                            var date = data[id].BaslamaTarihi != null ? new Date(parseInt(data[id].BaslamaTarihi.substr(6))).toLocaleDateString():'';
                                            var date2 = data[id].BitisTarihi != null ? new Date(parseInt(data[id].BitisTarihi.substr(6))).toLocaleDateString():'';
                                            text = text + '<tr><td>' + data[id].KurumAdı + '</td><td>' + data[id].GorevAdı + '</td><td>' + date + '</td><td>' + date2 + '</td><td><a href="#">Görüntüle</a></td><td><a href="../CrmGorevDüzenle?kayıtId=' + data[id].Id + '&&kisiId=@Model.Id">Düzenle</a></td></tr>'
                                        }
                                    });
                                    text = text + "</tbody></table>";
                                    el.innerHTML = text;
                                    el.style.display = "block";
                                }
                                else {
                                    el.style.display = "none";
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Görevler alınırken hata oluştu.');
                            }
                        });
                    }
                        </script>
                    </div>
                    <div class="panel-footer">
                        <button id="kursEkle" type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("CrmGorevEkle", new { kisiId = Model.Id })'">
                            Kurum Görevi Ekle
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}
